function o(){
  if [ $# -ne 0 ]; then
      nvim $1
  else
      nvim .
  fi
}

function aws-session(){
    if [ $# -eq 0 ]; then
        echo "Auth code required"
    else
        serial_number=$(grep -A1 "profile jatinder" ~/.aws/config | grep -v profile | cut -d= -f2)
        resp=$(aws sts get-session-token --serial-number $serial_number --token-code $1 --duration-seconds 129600 --profile jatinder)
        export AWS_ACCESS_KEY_ID=$(echo $resp | jq '.Credentials.AccessKeyId') 
        export AWS_SECRET_ACCESS_KEY=$(echo $resp | jq '.Credentials.SecretAccessKey') 
        export AWS_SESSION_TOKEN=$(echo $resp | jq '.Credentials.SessionToken') 
    fi
}

